body {
  background-color: orange;
}

#outer {
  height: 1500px;
  width: 1000px;
  border: 1px solid orange;
  margin: 100px auto;
}

#nav {
  height: 50px;
  width: 1000px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  border: 1px solid white;
  box-sizing: border-box;
  font-size: 20px;
}

#nav > ul {
  list-style-type: none;
}

#nav > ul > li {
  display: inline-block;
  margin: 0px 20px;
  padding: 0px 10px;
  width: 80px;
  text-align: center;
  transition: 1s ease;
  align-items: center;
}

#nav > ul > li:hover {
  background-color: orange;
}

#nav > ul > li:hover a {
  color: white;
}

#nav a {
  text-decoration: none;
  color: black;
  transition: 1s ease;
}

.active-nav{
  color: orange;
}


#slider {
  height: 200px;
  width: 1000px;
  margin-bottom: 5px;
  background-color: white;
}


/* main section */
#main {
  height: 915px;
  width: 1000px;
  margin-bottom: 0px;
  background-color: orange;
 
  margin-bottom: 1.2rem;
}

/* left section */
.post{
  background-color: white;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 0.3rem;
  margin-bottom: 2.8px;
  
}
.pagination{
  display:flex;
  flex-direction: row;
  gap:10rem;
  align-items: center;
  background-color: white;
  border-radius: 0px 0px 0px 30px;
}
.styled-button{
  display: inline-block;
  gap:2rem;
  border:2px solid orange;
  height:20px;
  background-color: white;;
}
.active{
  background-color: orange;
  color: white;
}


.content{
  font-size: 1.1rem;
  justify-content: left;
}


#p3p {
  color: orange;
  text-decoration: underline;
  font-size: 1.1rem;
  margin-right: 20rem;
  padding-left: 3rem;
}

#left {
  height: 915px;
  width: 700px;
  float: left;
  background-color: orange;
  border-radius: 0px 0px 0px 30px;
}


/* right */
#right {
  height: 914px;
  width: 300px;
  background-color: rgb(247, 196, 102);
  float: left;
  border-radius: 0px 0px 30px 0px;
}
.rh2{
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: bolder;
}
#right>ul{
  list-style-type: none;
}
#right>ul>li{
  font-size: 1.2rem;
  padding-bottom: 15px;
}
#rp{
  padding-left: 2rem;
  font-size: 1.17rem;
  padding-right: 1rem;
}




/* Footer */



 #footer {
  height: 300px;
  width: 1000px;
  background-color: white;
  border:1 px solid black;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
 }

.f1{
  padding-left:1rem;
  height:250px;
  width:300px;
  margin:1rem;
  
}

.f2{
  height:250px;
  width:300px;
  padding-left:1.5rem;
  margin:1rem;
  
}
.f3{
  height:250px;
  width:300px;
  padding-left:4rem;
  margin:1rem;
  
}
/* .md{
  height:180px;
  width:280px;
  margin:1rem;
  border: transparent;
  position:relative;

}  */
/* .m{
  height:50px;
  padding: 5%;
  margin-left: 9px;
  margin-top: 5px;
  width:50px;
  display:inline-block;
  border:1px solid black;
} */